html body {
    background-color: rgb(251, 209, 23);
}

body{
    margin:0;
    padding:0;
}
*{
    padding:0;
}

p {
    font-family: "Josefin Sans", sans-serif;
    text-align:center;
    line-height:130%;
    font-size:1em;
}

h3{
    font-family: "Josefin Sans", sans-serif;
    text-align:center;
}

h1{
    text-align:center;
    font-family:"Amatic SC", cursive;
    font-size: 3.5em
}

h2{
    text-align:center;
    font-family: "Amatic SC", cursive
}

#hold{
    background-color: #000000;
    width:100%;
    padding-bottom:1%;
    padding-top:1%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#red {
    width: 100%;
    height: 10px;
    background-color: #CE1126;
}
#menuholder{
    text-align: center;
    font-size:1em;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.men {
    word-wrap: break-word;
    padding: 1%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 0.5%;
    font-family: 'Josefin Sans', sans-serif;
}

.men:active {
    text-decoration: none;
    color: #006b3F;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: #006b3F;
}

a:hover {
    color: red;
}



ul:hover {
    color: red;
}

#green {
    width: 100%;
    background-color: #006b3F;
    height: 10px;
}

img{
    margin:auto;
    width: 60%
}

#prices{
    color:#006b3F

}

.topnav {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.outer-menu{
    text-align: center;
    padding: 0;
    width: 100%
}
  /* Style the links inside the navigation bar */
.topnav a {
    margin: auto;
    display: inline-block;
    color: #000000;
    text-align: center;
    width: auto;
    text-decoration: none;
    font-size: 17px;
    font-family: "Josefin Sans", serif;
    margin-right: 1%;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: #CE1126;
}
  
  /* Add an active class to highlight the current page */
.active {
    color: #006b3F;
}

  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a{display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    #red, #green{
        display: none;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: inline-block;
      text-align: left;
      padding-right: 2%;
    }
  }

  @media screen and (min-width: 600px) {
      #green, #red {display: inherit}
  }